[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = jnjahncke
	email = 64928989+jnjahncke@users.noreply.github.com
